---
import Section from "@/components/Section.astro";
import { skills } from "@cv";
---

<Section title="Skills">
  <ul class="inline-flex flex-wrap gap-2">
    {
      skills.map((skill) => (
        <li class="rounded-md bg-custom-white text-black text-[0.8rem] font-medium py-[0.2rem] px-[0.6rem]">
          <span>{skill}</span>
        </li>
      ))
    }
  </ul>
</Section>
