---
import Layout from "../layouts/Layout.astro";

import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import Certifications from "@/components/sections/Certifications.astro";
---

<Layout title="CV Portfolio | varJonathanR">
  <main class="p-4 m-auto w-full md:p-16">
    <Hero />
    <About />
    <Experience />
    <Projects />
    <Certifications />
    <Skills />
  </main>
  <KeyboardManager />
</Layout>
