---
import Layout from "../layouts/Layout.astro";

import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import Certifications from "@/components/sections/Certifications.astro";
---

<Layout title="CV Portfolio | varJonathanR">
  <main>
    <Hero />
    <About />
    <Projects />
    <Certifications />
    <Skills />
  </main>
  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media screen and (max-width: 700px) {
    main {
      padding: 1rem;
    }
  }
</style>
